p {
  width: 80%;
  padding-left: 5%;
  font-size: 18px;
}

ion-label {
  font-size: 25px;
  padding-left: 5%;
  font-weight: bold;
}

ion-img {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
}

ion-icon {
	font-size: 30px;
	padding-right: 3%;
	text-align: right;
}

ion-button {
  width: 80%;
  margin: 0 auto;
}
