<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <ion-button *ngIf="showLogOut" expand="block" (click)="logout()">Logout</ion-button>
  <br>
  <br>
  <ion-button *ngIf="showLogOut" expand="block" (click)="deleteAccount()">Delete Account</ion-button>
</ion-content>
