.notLoggedIn {
  text-align: center;
  margin-top: 40%;
}

#notLoggedInLabel {
  font-size: 25px;
}

ion-button {
  width: 80%;
  margin: 0 auto;
}

ion-icon {
	font-size: 35px;
	padding-right: 3%;
	text-align: right;
}

#view-button {
  width: 20%;
  padding-right: 5%;
  height: 2em;
}
