<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-item *ngIf="hasSentEmail">
    An email with a password-reset link has been sent to {{email.value}}. Check your email.
  </ion-item>
  <ion-item *ngIf="!hasSentEmail">
    Please enter your email and an email with a password-reset link will be sent to you.
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [formControl]="email" required></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button *ngIf="!hasSentEmail" expand="block" (click)="recover()" [disabled]="!email.valid">Send Password-Reset Link</ion-button>
  <ion-button *ngIf="hasSentEmail" expand="block" (click)="recover()" >Re-send Password-Reset Link</ion-button>
</ion-content>

<ion-footer>
  <ion-button *ngIf="hasSentEmail" expand="block" [routerDirection]="'forward'" [routerLink]="['/login']">Continue to Login</ion-button>
	<br>
</ion-footer>